/****************************/
/* TribTool CSS                 */
/****************************/

/* updated 4/12/17 K.Koch */

h1,h2,h3,h4,h5,h6 {margin: 0 0 15px 0; line-height: 110%; padding-top: 0;}

h1 {font-size: 20px;}
h2 {font-size: 17px;}
h3 {font-size: 15px;}
h4 {font-size: 14px;}
h5 {font-size: 13px;}
h6 {font-size: 12px;}

p{margin: 0 0 1em 0;}

a {color: #014e9c;text-decoration: none;}
a:hover {text-decoration: none; color: #538522;}
.clear {clear: both; font-size: 0.000em;}

body {background: #fff 0px; margin: 0 0 0 0;}
/* Candara Font Stack */
body #page {margin: 5 auto;padding: 0;font: 14px/1.3 Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;}
#page {}
#page-inner {}

#page-content {margin: 0 0 0 40px;}

/* ============================================================= */
/* 							header					     		 */
/* ============================================================= */

/* header top */

html #header-top-wrapper {background: none;}
#header-top .block .inner, #header-top .inner, #header-top .block, #header-top p{margin:0!important; padding: 0!important;}
#header-top .content{margin: 0; padding: 0;}

	/* Logo */

	#logo {
	width: 100%;
	height: 97px;
	position: absolute;
	top: 22px;
	left: 12px;
}
	#logo img {vertical-align: top;}
	
	/* Site Name */
	#site-name {width: 422px; float: left;margin: 0 0 0 115px; height: 60px; text-indent: -9999px;}
	#site-name a {display: block; height:60px;}
.tool-title {font-weight: bold; color: white; font-size: 24px; margin-left: 138px;}
	
	
/* ============================================================= */
/* 							footer					     		 */
/* ============================================================= */
#footer-wrapper{}

#footer-wrapper a {color: #CCCCCC;}
#footer-wrapper a:focus, #footer-wrapper a:hover {color: #9fb3c3;}
#footer-wrapper .content {line-height: 1em;}
#footer-wrapper {background: #262626; color: #fff;}
#footer {font-size: 12px!important;padding-top: 15px; position: relative; overflow: visible; margin-left: 8px;}
#footer-wrapper .content {line-height: 120%;}

	/* Sticks footer to bottom of page on short pages */
	html, body {height: 100%;}
	#page  {min-height: 100%;}
	#page-inner {overflow: auto; padding-bottom: 210px; /*padding == footer height*/}
	#footer-wrapper {height: 300px;}
}
        background: url(footerbox_trans.png) no-repeat;
        font: 11px/1.3 Candara,Calibri,Segoe,"Segoe UI",Optima,Arial,sans-serif;
        color:#014E9C;
        line-height:14px;
        width:278px;
        height:119px;
        padding:10px;
}
.footerbox p {margin-top:0px; padding-top:3px; padding-bottom:3px;}
.footerbox .glosinfo {
        font-family:Helvetica, Arial, sans-serif;
        font-size:10px;
        line-height:12px;
        color:#000;
}
.footerbox a {color:#0000FF!important; text-decoration: none;}
